.introPhoto{
    background-image: url(../img/fheavy_product_page1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 66%;
    
    margin-left: -8px;
}

#textVideo{
    position: relative;
    display: inline-block;
    color: #fff;

    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    
    top: 80px;
    left: 38%;

    text-align: center;
    width: 24%;
}
#visualButt{
    position: relative;
    display: inline-block;
    background: url(../img/download.png) 0 -55px;
	width: 61px;
    height: 60px;

    top: 30%;
    left: 23.5%;
}
#modalWindow{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 0;
    transition: opacity 400ms linear;
    pointer-events: none;
}

#modalWindow:target{
    opacity: 1;
    pointer-events: auto;
}

#modalWindow > div{
    width: 400px;
    height: 240px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    
}
    
.frameVid{
    position: relative;
    display: inline-block;
    left: 350px;
}

.vidClose{
    position: relative;
    background: url(../img/download.png)  0 -19px;
    
	width: 11px;
    height: 11px;
    
    margin-top: 0%;
    left: 210%;
    transform: scale(2.5)
}